.nav {
  display: flex;
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 48px;
  padding: 8px;
  align-items: center;
  z-index: 999;
  border:#0f1730;
}

.nav__logo {
  width: 100%;
  max-width: 40px;
}

img {
  width: 100%;
}

.nav__actions {
  display: flex;
  justify-content: space-around;
  width: 300px;
  color: #0f1730;
}
.nav__action {
  font-weight: 350;
  text-decoration: none;
  color: #0f1730;
}

.nav__github-stars {
  font-weight: 350;
  color: #0f1730;
}
