.nav {
  display: flex;
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 52px;
  padding: 16px 16px 16px 16px;
  align-items: center;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-family: 'Mukta', sans-serif;
  border-bottom: 1px solid #0e162f;
}

.nav__logo {
  width: 100%;
  max-width: 40px;
}

img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.nav__actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 300px;
  color: #0e162f;
  justify-content: space-between;
}
.nav__action {
  font-weight: 350px;
  text-decoration: none;
  color: #0e162f;
  padding-right: 8px;

}

.github_logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

a {
  font-weight: 350px;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  color: #0e162f;
}
