/* macbook air */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css");

body {
  font-size: 1.1rem;
  padding: 0px;
  font-family: 'Mukta', sans-serif;
  text-align: center;

  color: white;
}

#mainLogo {
  width: 600px;
  max-width: 80vw;
  height: auto !important;
}



@media only screen and (max-height: 766px) {
  .header {
    height: 100vh;
    padding: 0px;
    background-color: red;
  }

  div {
    margin: 0rem;
  }

  .left .right {
    flex-direction: column;
  }
}

@media only screen and (max-width: 766px) {
  #webapp {
    display: none;
  }

  .contribute {
    margin: 0;
  }

  .left .right {
    margin: 0rem;
  }

  .footer {
    padding: 1em !important;
  }
}

.left {
  display: flex;
  flex-direction: row-reverse;
}

.right {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* body::-webkit-scrollbar {
  display: none;
} */

html {
  padding: 0px;
}


#name {
  font-size: 8rem;
  color: black;
}

.title {
  
}

.laptop {
  border: 8px solid black;
  border-radius: 30px;
  margin: 0;
  padding: 1rem;
  background: black;
}

.margin-tb {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-tb-small {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lowerText {
  font-size: 1.5rem;
  display: block;
}

.githubbtn {
  margin-bottom: 2rem;
  display: inline-block;
  margin-top: 4rem;
}

.footer {
  background: rgb(1, 3, 131);
  background: linear-gradient(
    107deg,
    rgb(52, 73, 94) 0%,
    rgb(1, 4, 31) 70%
  );
  padding: 1em;
}

.devCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team-heading {
  margin-top: 3rem;
  font-weight: 200;
  font-size: 1.5rem;
}

.m-1 {
  margin-top: -6rem;
}

.shadow {
  width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 2px 4px 5px rgba(52, 73, 94, 0.4);
}

.black {
  color: black;
}

.iframe {
  border: none;
  margin-top: 2rem;
  width: 90vw;
  height: 1000px;
  box-shadow: 0px 8px 15px 5px rgba(66, 66, 66, 0.8);
  background: black;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
}

.note-text {
  color: gray;
  line-height: 150%;
}
.docker-img{
  width: 480px;
  border: 1px solid black;
}