* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0px;
}

html {
  padding: 0px;
}

#logo {
  margin-top: 3rem;
}

.App {
  text-align: center;
  align-content: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

#name {
  font-size: 8rem;
}

.margin-tb {
  margin: 8rem 0;
}

.header {
  padding-bottom: 3rem;
  height: 800px;
  padding: 0px;
  background-color: #142536;
}

.lowerText {
  font-size: 1.5rem;
}

.githubbtn {
  margin-bottom: 2rem;
  display: inline-block;
}