* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0px;
}

html {
  padding: 0px;
}

#logo {
  margin-top: 3rem;
}

.App {
  text-align: center;
  align-content: center;
  justify-content: center;
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;
}

#name {
  font-size: 8rem;
}

.margin-tb {
  margin: 8rem 0;
}

.header {
  padding-bottom: 3rem;
  height: 900px;
  padding: 0px;
  background-color: #142536;
}

.lowerText {
  font-size: 1.5rem;
  display: block;
}

.githubbtn {
  margin-bottom: 2rem;
  display: inline-block;
  margin-top: 4rem;
}

.footer {
  background-color: #142536;
  padding: 3em;
}

.black {
  color: black;
}

.iframe {
  border: none;
  margin-top: 2rem;
  width: 90vw;
  height: 800px;
  box-shadow: 0px 8px 15px 5px rgba(66, 66, 66, 0.8);
}
